@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f6f6f6;
  --deep-grey: #767d9f;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
  --main-padding: 15rem 20rem;
  background: var(--light-grey);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font);
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

input,
label {
  display: block;
}

.hero-section,
.about-section,
.card-section,
.contact-section,
footer {
  padding: 2% 10%;
  min-width: 945px;
}

header {
  padding: 0 10%;
}

nav {
  display: flex;
  align-items: center;
  font-family: poppins;
  background: pink;
  height: 10vh;
  min-width: 752px;
}

.nav-left {
  width: 50%;
  min-width: 459px;
  display: flex;
  align-items: center;
  /* background: blue; */
}

.nav-brand {
  width: 50%;
  /* min-width: 205px; */
  font-size: 1.5rem;
  /* background: green; */
}

.nav-menu {
  /* background: red; */
  width: 50%;
  display: flex;
  text-transform: capitalize;
}

.nav-menu a {
  margin-left: 5rem;
  color: var(--pink-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--header-font);
  transition: all 0.2s;
}

.hamburger {
  display: none;
}

.nav-right {
  width: 50%;
  min-width: 289px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background: green; */
}

.nav-right button {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--ligt-grey);
}

.hero-section {
  height: 90vh;
  background: yellow;
}

@media (max-width: 768px) {
  .hero-section,
  .about-section,
  .card-section,
  .contact-section,
  footer {
    padding: 2% 10%%;
  }

  .nav-left {
    width: 100%;
    justify-content: space-between;
  }

  .nav-brand {
    font-size: 1.3rem;
  }

  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  .nav-right {
    display: none;
  }
}
