@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f6f6f6;
  --deep-grey: #767d9f;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
  --main-padding: 15rem 20rem;
  background: var(--light-grey);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font);
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

input,
label {
  display: block;
}

/* ........................hero section...................... */

.hero-left h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 5rem;
}

.hero-left p {
  font-size: 2.2rem;
  color: var(--pink-color);
  font-weight: 600;
  border-right: 0.2rem solid var(--pink-color);
  animation: type 10s infinite steps(26), caret 1s infinite step-end;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--pink-color);
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  30% {
    width: 23ch;
  }
  80% {
    width: 23ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}

.check-us-btn {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--ligt-grey);
  box-shadow: 1px 2px 5px grey;
  padding: 1.5rem 2.5rem;
  /* width: fit-content; */
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  nav {
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;
    /* background: pink; */
  }

  .nav-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: green; */
    height: inherit;
  }

  .nav-brand {
    font-size: 1.5rem;
  }

  .nav-left i {
    color: var(--primary-color);
    font-size: 3rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .hero-section {
    height: 90vh;
    background: yellow;
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    justify-content: space-around;
    align-items: center;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
  }

  .hero-left span {
    display: block;
  }

  .hero-left button {
    display: none;
  }

  .hero-right {
    width: 100%;
    text-align: center;
    /* margin: 3rem 0 8rem 0; */
    margin-bottom: 18rem;
  }

  .hero-right img {
    width: 75%;
    box-shadow: 0 3px 3px -2px var(--pink-color);
  }

  .extra-button {
    display: block;
    /* position: absolute; */
    /* bottom: 5rem; */
  }
}
