@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f6f6f6;
  --deep-grey: #767d9f;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
  --main-padding: 12rem 20rem;
  --mobile-padding: 2rem 2rem;
  background: var(--light-grey);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font);
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

input,
label {
  display: block;
}

/* .........nav section....................... */

nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 15vh;
  /* background: pink; */
  background: #f8f8fa;
}

.nav-brand {
  /* background: red; */
  grid-column: 2/5;
  display: flex;
  align-items: center;
}

.nav-brand h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

.nav-menu {
  grid-column: 5/9;
  display: flex;
  align-items: center;
}

.nav-menu a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  text-transform: capitalize;
  color: var(--pink-color);
  margin-right: 5rem;
}

.nav-button {
  grid-column: 9/12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button button {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--ligt-grey);
}

.nav-button button:hover {
  color: white;
  background: var(--primary-color);
}

/* ############## hero section ########################## */

.hero-section {
  height: 85vh;
  display: flex;
  /* grid-template-columns: repeat(12, 1fr); */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* background: pink; */
  /* padding: 10% 20%; */
  align-items: center;
}

.hero-wrapper {
  width: 65%;
  display: flex;
  margin: 0 auto;
  align-content: center;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.hero-left h1 {
  font-size: 4rem;
  line-height: 140%;
}

.hero-left span {
  display: block;
}

.hero-left p {
  color: var(--pink-color);
  font-size: 1.8rem;
  font-weight: 600;
  width: fit-content;
  border-right: 0.2rem solid var(--pink-color);
  animation: type 10s infinite steps(26), caret 1s infinite step-end;
  white-space: nowrap;
  overflow: hidden;
  margin: 4% 0 10%;
}

.check-us-btn {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--ligt-grey);
  /* box-shadow: 1px 2px 5px grey;   */
  padding: 2% 5%;
  width: fit-content;
}

.hero-right {
  width: 50%;
  /* grid-column: 7/11; */
  /* grid-row: 3/7; */
  /* background: steelblue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* background: pink; */
}

.hero-right img {
  width: 90%;
  box-shadow: 0 3px 3px -2px var(--pink-color);
}

.hero-button {
  display: none;
}

@keyframes caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--pink-color);
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  30% {
    width: 23ch;
  }
  80% {
    width: 23ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}
/* ............mobile view........................  */

@media (max-width: 770px) {
  html {
    font-size: 52%;
  }
  nav {
    /* background: green; */
    grid-template-columns: 3fr 1fr;
    padding: 0 6%;
  }

  .nav-brand {
    /* background: yellow; */
    grid-column: 1/2;
    /* width: 100%; */
  }

  .nav-menu {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .hamburger {
    display: block;
    /* background: pink; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .hamburger i {
    font-size: 2.5rem;
    color: var(--primary-color);
  }

  .hero-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* background: yellow; */
  }

  .hero-left {
    /* background: pink; */
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero-left button {
    display: none;
  }

  .hero-right {
    width: 100%;
    align-items: center;
  }

  .hero-button {
    display: block;
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .check-us-btn {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}
