@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f6f6f6;
  --deep-grey: #767d9f;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
  --main-padding: 15rem 20rem;
  background: var(--light-grey);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font);
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

input,
label {
  display: block;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  nav {
    display: flex;
    align-items: center;
    /* background: pink; */
    height: 10vh;
    padding: 0 2rem;
  }

  .nav-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: green; */
    height: inherit;
  }

  .nav-brand {
    font-size: 1.5rem;
  }

  .nav-left i {
    color: var(--primary-color);
    font-size: 3rem;
  }

  .nav-menu {
    display: none;
  }

  .nav-right {
    display: none;
  }
}
