@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f6f6f6;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font);
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

header nav {
  height: 15vh;
  display: flex;
  align-items: center;
  padding: 0 20rem;
}

header nav .nav-left {
  width: 50%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
header nav .nav-left .brand {
  font-size: 1.5rem;
  margin-right: 10rem;
}

header nav .nav-left .nav-menu {
  display: flex;
}

.nav-menu a {
  color: var(--pink-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  font-family: var(--header-font);
  margin-right: 3rem;
  transition: all 0.2s;
}

.nav-menu a:hover {
  color: var(--primary-color);
}

header .nav-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

header .nav-right button {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--ligt-grey);
}

.nav-right button:hover {
  color: white;
  background: var(--primary-color);
}

.hero-section {
  width: 100%;
  height: 85vh;
  display: flex;
  padding: 0rem 20rem 15rem 20rem;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-left {
  width: 50%;
  /* margin-bottom: 7rem; */
}

.hero-section .hero-left h1 {
  width: 40rem;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 5rem;
  margin-bottom: 1.2rem;
}

.hero-left p {
  color: var(--pink-color);
  font-size: 2.2rem;
  /* font-weight: 600; */
}

.hero-left button {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--ligt-grey);
  box-shadow: 1px 2px 5px grey;
  padding: 1rem 2rem;
  margin-top: 6rem;
}

.hero-left button:hover {
  color: var(--primary-color);
  background: var(--ligt-grey);
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 3px 3px -2px var(--pink-color);
}
.hero-section .hero-right img {
  right: 0;
  width: 45rem;
}

/* ..........about section............... */

.about-section {
  background: var(--purple-color);
  padding: 15rem 20rem;
  display: flex;
}

.about-left {
  /* background: yellow; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  min-width: 38rem;
  overflow: hidden;
  border-radius: 50%;
  height: inherit;
}

.about-left img {
  width: 50rem;
}

.about-right {
  /* background: green; */
  padding-left: 15rem;
  height: inherit;
  width: 60%;
  min-width: 57rem;
}
.about-right .about-head {
  color: var(--pink-color);
  margin-bottom: 5rem;
  font-size: 5rem;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.about-right .about-text {
  font-size: 1.8rem;
  line-height: 3.5rem;
}
