@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --primary-color: #1d4e89;
  --pink-color: #ff6584;
  --ligt-grey: #f8f8fa;
  --deep-grey: #767d9f;
  --purple-color: #2f2e41;
  --header-font: poppins;
  --normal-font: Nunito;
  --main-padding: 12rem 20rem;
  --mobile-padding: 2rem 2rem;
  background: var(--light-grey);
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
  color: var(--primary-color);
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  font-family: var(--normal-font), sans-serif;
  font-size: 2.6rem;
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  font-family: var(--header-font);
  font-weight: medium;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 1px 2px 5px grey;
}

input,
label {
  display: block;
}

/* .........nav section....................... */

nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 15vh;
  /* background: pink; */
  background: #f8f8fa;
}

.nav-brand {
  /* background: red; */
  grid-column: 2/5;
  display: flex;
  align-items: center;
}

.nav-brand a {
  transition: all 0.4s ease;
}
.nav-brand a:hover {
  transform: rotate(-4deg);
}

.nav-brand h2 {
  font-weight: 600;
  font-size: 3.8rem;
}

.nav-menu {
  grid-column: 5/9;
  display: flex;
  align-items: center;
}

.nav-menu a {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  text-transform: capitalize;
  color: var(--pink-color);
  margin-right: 8rem;
  transition: all 0.2s linear;
}

.nav-menu a:hover {
  color: var(--primary-color);
}

.extra-contact-btn {
  display: none;
}

.nav-button {
  grid-column: 9/12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contact-us-btn {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--ligt-grey);
  transition: all 0.2s linear;
}

.nav-button button:hover {
  color: white;
  background: var(--primary-color);
}

#click {
  display: none;
}

/* *############## hero section ########################## */

.hero-section {
  min-height: 85vh;
  display: flex;
  /* background: pink;   */
  /* padding: 10% 0; */
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  width: 65%;
  display: flex;
  align-content: center;
  /* background: blue; */
}

.hero-left {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  /* background: red; */
}

.hero-left h1 {
  font-size: 5.8rem;
  line-height: 140%;
}

.hero-left span {
  display: block;
}

.hero-left p {
  color: var(--pink-color);
  font-size: 3rem;
  font-weight: 600;
  /* background: yellow; */
  border-right: 0.2rem solid var(--pink-color);
  animation: type 10s infinite steps(26, end), caret 1s infinite step-end;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  margin: 4% 0 10%;
}

.check-us-btn {
  font-size: 2.2rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--ligt-grey);
  /* box-shadow: 1px 2px 5px grey;   */
  padding: 2% 5%;
  width: fit-content;
  transition: all 0.2s linear;
}

.check-us-btn:hover {
  transform: translateY(-20%);
}

.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  /* background: pink; */
}

.hero-right img {
  width: 100%;
  /* max-width: 494px; */
  box-shadow: 0 3px 3px -2px var(--pink-color);
}

.hero-button {
  display: none;
}

@keyframes caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: var(--pink-color);
  }
}

@keyframes type {
  0% {
    width: 0ch;
  }
  30% {
    width: 26ch;
  }
  80% {
    width: 26ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}

/* *.............................about section.................. */

.about-section {
  min-height: 100vh;
  background: var(--purple-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10% 0%;
}

.about-wrapper {
  width: 70%;
  display: flex;
  /* background: pink; */
}

.about-left {
  width: 35%;
  /* background: yellow; */
  display: flex;
  align-items: center;
  /* border-radius: 100%; */
}

.about-left img {
  width: 100%;
}

.about-right {
  width: 65%;
  display: flex;
  /* background: pink; */
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  padding-left: 12%;
}

.about-head {
  font-size: 6rem;
  color: var(--pink-color);
  margin-bottom: 9%;
}
.about-text {
  font-size: 3rem;
  line-height: 250%;
}

/* *...........................cards section................ */

.cards-section {
  min-height: 100vh;
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 10% 0;
}

#card-header {
  font-size: 6rem;
  color: var(--primary-color);
  margin-bottom: 9%;
}

.cards-wrapper {
  width: 70%;
  /* background: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  min-width: 24rem;
  /* max-width: 28rem; */
  width: 26%;
  min-width: 40rem;
  min-height: 50rem;
  margin: 0 2rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2px 0.7rem grey;
  padding: 3rem 2rem;
  border-radius: 2.5rem;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.2);
}

.card-img {
  height: 25rem;
  background-size: cover;
}

.card-img-1 {
  background-image: url(./images/responsive.svg);
}

.card-img-2 {
  background-image: url(./images/design.svg);
}

.card-img-3 {
  background-image: url(./images/search.svg);
}

.card-info h2 {
  color: var(--primary-color);
  margin: 20% auto 10%;
  font-size: 3rem;
}

.card-info p {
  color: var(--primary-color);
  font-size: 2.2rem;
  margin: 0 auto;
}

/* *...............contact section..................... */

.contact-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 10% 0;
  background: var(--purple-color);
  justify-content: center;
}

.contact-wrapper {
  width: 70%;
  display: flex;
}

.contact-left {
  width: 35%;
}

.contact-left h1 {
  font-size: 4.5rem;
  color: var(--pink-color);
  margin-bottom: 2.5rem;
}

.contact-left p {
  font-size: 2.5rem;
  line-height: 200%;
}

.contact-right {
  width: 65%;
  padding-left: 12%;
}

.contact-right label {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--pink-color);
  margin-bottom: 2rem;
}

.contact-right input,
#message {
  width: 100%;
  border: none;
  height: 5rem;
  border-radius: 0.8rem;
  margin-bottom: 4rem;
  padding: 2%;
  font-size: 2.3rem;
  font-family: nunito;
  outline: none;
  /* color: red;     */
  font-weight: 600;
  /* letter-spacing: 0.1rem; */
}

#message {
  height: 14rem;
}

.contact-right input:focus,
#message:focus {
  /* background: blue; */
  box-shadow: 0 0 0 0.8rem var(--pink-color);
}

.contact-right button {
  border-radius: 7px;
  width: 100%;
  font-family: poppins;
  font-size: 2.5rem;
  font-weight: 600;
  background: var(--pink-color);
  color: white;
  padding: 0.8rem 0;
  margin-top: 1.5rem;
}

/* *.....................footer-section.......................... */

footer {
  background: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  padding: 3% 0;
}

.footer-wrapper {
  width: 70%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 1fr;
}

.footer-brand {
  font-size: 2rem;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links li {
  font-size: 2rem;
  font-family: Nunito;
  margin-bottom: 1.1rem;
}

.footer-copyright p {
  font-size: 2rem;
  color: var(--purple-color);
}

.sub-div-2 i {
  font-size: 2.2rem;
  color: var(--primary-color);
}

.sub-div-2 p {
  color: var(--primary-color);
  font-size: 2rem;
  display: inline;
  margin-left: 1rem;
  font-weight: 600;
}

/* *.......social section...................... */

.social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.social a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-family: var(--normal-font);
  padding: 0.6rem 0.4rem;
  transform: translateX(-26.5rem);
  transition: all 0.5s linear;
  border-radius: 0.5rem;
  font-weight: 600;
}

.social a:hover {
  transform: translateX(0);
}

.social i {
  margin-left: 2rem;
  font-size: 3.5rem;
  animation: blink 3s linear alternate-reverse infinite;
}

@keyframes blink {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* ! bigger desktops */

@media (max-width: 1720px) {
  html {
    font-size: 58%;
  }
}

/* !big desktops */
@media (max-width: 1600px) {
  html {
    font-size: 52%;
  }
}

/* !desktops */

@media (max-width: 1444px) {
  html {
    font-size: 48%;
  }
}

/* !laptops */

@media (max-width: 1366px) {
  html {
    font-size: 44%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 39%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 35%;
  }
}

/* !............mobile view........................  */

@media (max-width: 1000px) {
  html {
    /* font-size: 33%; */
  }

  .about-section,
  .contact-section {
    padding: 20% 0;
  }

  .about-wrapper,
  .contact-wrapper {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }

  /* *............header section................. */

  nav {
    height: 10vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* padding: 0 10%; */
  }

  .nav-brand {
    grid-column: 1/2;
    margin-left: 5%;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15%;
  }

  .nav-menu {
    width: 100%;
    padding: 15% 0;
    background-color: var(--purple-color);

    position: absolute;
    display: flex;
    align-items: center;
    height: 90vh;
    flex-flow: column;
    top: 10vh;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }

  .nav-menu a {
    margin-right: 0;
    margin-bottom: 10%;
    font-size: 3.6rem;
  }

  .contact-us-btn {
    display: block;
    font-size: 3rem;
  }

  .nav-button {
    display: none;
  }

  .hamburger i {
    font-size: 3.5rem;
    color: var(--primary-color);
    transition: all 0.3s linear;
  }

  #click:checked ~ .nav-menu {
    transform: translateX(0);
  }

  #click:checked ~ .hamburger i {
    transform: rotate(90deg);
  }

  /* *hero............... */

  .hero-section {
    height: 90vh;
  }

  .hero-wrapper {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .hero-left {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .hero-left h1 {
    font-size: 6.5rem;
  }

  .hero-left button {
    display: none;
  }

  .hero-right {
    width: 100%;
    align-items: center;
    margin: 2rem 0;
  }

  .hero-right img {
    width: 70%;
  }

  .hero-button {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .check-us-btn {
    font-size: 2.5rem;
    padding: 1.8rem 2.8rem;
  }

  /* *......................about section........................... */

  .about-wrapper {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .about-left {
    width: 100%;
    justify-content: center;
    margin-bottom: 20%;
  }

  .about-left img {
    width: 70%;
  }

  .about-right {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .about-head {
    font-size: 6.5rem;
  }

  .about-text {
    font-size: 3.2rem;
  }

  /* *....... card section................................ */

  .cards-section {
    padding: 10rem 0;
  }

  .card:hover {
    transform: scale(1);
  }

  .cards-wrapper {
    width: 80%;
  }

  .card {
    width: 80%;
    max-width: 40rem;
    margin-bottom: 8rem;
  }

  #card-header {
    margin-bottom: 12rem;
    width: 80%;
  }

  .card-info p {
    font-size: 2.8rem;
  }

  /* *.................contact section................... */

  .contact-left {
    width: 100%;
    justify-content: center;
    margin-bottom: 20%;
    text-align: center;
  }

  .contact-right {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 0;
  }

  .contact-left h1 {
    font-size: 5rem;
  }

  .contact-left p {
    font-size: 3rem;
  }

  .contact-right label {
    font-size: 3rem;
  }

  .contact-right input,
  #message {
    font-size: 3.2rem;
    height: 6.5rem;
  }

  #message {
    height: 16rem;
  }

  .contact-right button {
    font-size: 3rem;
  }

  /* *..............footer.................. */

  footer {
    padding: 6rem 0;
  }

  .footer-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .footer-brand {
    text-align: center;
  }
  .footer-links {
    flex-flow: column;
    text-align: center;
    margin: 4rem 0;
  }

  .footer-links li {
    font-size: 2.3rem;
  }

  .footer-copyright {
    text-align: center;
  }

  .sub-div-2 p {
    font-size: 2.3rem;
  }

  .footer-copyright p {
    font-size: 2.3rem;
  }

  /* *social */

  .social {
    top: 80%;
  }
  .social i {
    font-size: 5rem;
  }

  .social a:hover {
    transform: translateX(-20rem);
  }
}
